/* src/components/routes/Header/Header.css */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 12vh;
    padding:2rem; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.logo {
    height: 50%; 
}

.header-right {
    display: flex;
    align-items: center;
}

.pro-icon {
    width: 20px;
    height: 20px; 
    cursor: pointer;
    transition: transform 0.3s ease;
}

.pro-icon:hover {
    transform: scale(1.25);
}
